/* for laptops and desktops */
@media(min-width: 900px) and (max-width: 1199px) {
    .logo {
        margin-left: 12px;
        margin-top: 20px;
        color: rgb(216, 102, 121);
    }

    .nav1 {
        display: flex;
        width: 100%;
        height: 66px;
        /* border: 2px solid red; */

    }

    .topics {
        display: flex;
        gap: 6px;
        justify-content: space-between;
        text-align: center;
        margin-left: 288px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 4px;
        text-decoration: none;
        font-size: 23px;
    }

    .topics a {
        text-decoration: none;
        color: #3a3939;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 600;
        margin-left: 47px;
    }

    .topics a:hover {
        color: rgb(194, 180, 180);
    }

    .right {
        display: flex;
        margin-left: 341px;
        margin-top: 20px;
        gap: 20px;
        justify-content: end;
    }

    .right h3 {
        font-weight: 500px;
    }

    .para {
        display: none;
    }
    .para a{

        display: none;
    }

    .para a:hover {
        cursor: pointer;
    }
    .globeicon svg{
        height: 35px;
        width: 35px;
    }

    .double {
        display: flex;
        border-radius: 50%;
        height: 59px;
        width: 107px;
        padding: 5px 0px;
        margin-top: -15px;
        margin-left: 1px;

    }

    .double a {
        cursor: pointer;
        display: flex;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 1px 7px -3px;
        margin-left: -7px;
        width: 59px;
        padding: 9px 17px;
        margin-top: -1px;
        border-radius: 20px;
    }
    .profilemenu svg{
        height: 20px;
        width: 20px;
    }
    

    .box1 {
        margin-top: 0px;
        width: 200px;
        height: 60px;
    }
    .box2{
        margin-left: -81px;
    }
    .box3{
        margin-left: -70px;
    }
    .box4{
        margin-left: -62px;
    }

    .nav2 {
        display: flex;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50px;
        width: 112%;
        height: 65px;
        margin: 16px auto;
        padding: 15px 39px;
        margin-top: 31px;
        box-shadow: 0px 1px 7px -3px;
        margin-left: 184px;
    }

    .icon {
        margin-top: -5px;
        margin-left: 123px;
        width: 60px;
        height: 63px;
        border: 2px solid red;
        background-color: #ff385c;
        border-radius: 50%;
        padding: 0px 2px;
        color: white;
        text-align: center;
        margin-right: -24px;
        font-size: 22px;
        cursor: pointer;

    }

    .icon i {
        margin-bottom: 27px;
        padding: 13px;
        /* height: 0px;
        width: 0px; */
    }

    .line1 {
        margin-top: 8px;
        display: flex;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        cursor: pointer;

    }

    .line::before {
        color: #ff385c;
    }

    .line2 {
        margin-top: -8px;
        font-size: 18px;
        display: flex;
        color: #6A6A6A;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .hr {
        margin-top: 49px;
        width: 150%;
    }

    /* Navbar ending */

    .icon1 img {
        height: 68px;
        width: 69px;
        margin-left: 110px;
        margin-top: 22px;
        padding: 0px 3px;
        cursor: pointer;
        color: #6A6A6A;
    }

    .icon1:hover {
        color: #6A6A6A;
    }

    .icon1 p {
        margin-left: 106px;
        margin-top: 0%;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        color: #6A6A6A;
    }

    .icon1 p:hover {
        color: #111111;
    }

    .toolbar {
        display: flex;
        gap: 54px;
        height: 80px;
        /* border: 2px solid black; */
        margin-left: -50px
    }

    .icon2 img {
        height: 40px;
        width: 40px;
        margin-top: 19px;
        color: #6A6A6A;
        margin-left: 0px;
    }

    .icon2 p {
        margin-top: 0%;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: #6A6A6A;
        margin-left: 0px;
    }

    .icon2 p:hover {
        color: #111111;
    }
    .icon3 img{
        margin-left: 0px;
    }

    .iconall img {
        height: 68px;
        width: 69px;
        margin-top: 19px;
        color: #6A6A6A;

    }

    .iconall p:hover {
        color: black;
    }

    .iconall p {
        margin-top: 0%;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: #6A6A6A;
        margin-left: 13px;
    }
    .icon11{
        display: none;
    }
    .icon10{
        display: none;
    }
    .icon9{
        display: none;
    }
    .icon8{
        display: none;
    }

    .iconall {
        display: flex;
        gap: 63px;
        cursor: pointer;
        color: #6A6A6A;

    }

    .arrow {
        margin-top: 31px;
        border: 2px solid #c9aaaa;
        border-radius: 50px;
        height: 26px;
        width: 26px;
        padding: 5px;
        margin-left: -32px;


    }

    .arrow:hover {
        box-shadow: -14px 0px 20px 10px;
        color: white;
        background-color: #f8f4f5;
        cursor: pointer;
    }

    .filters {
        display: flex;
        margin-top: 23px;
        border: 2px solid #b6b3b3;
        height: 26px;
        width: 105px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 13px;
        margin-left: -21px;
        cursor: pointer;
        color: black;
    }

    .filters p {
        font-size: 18px;
        margin-top: 17px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    .filters:hover {
        background-color: #f8f4f5;
        border: 2px solid black;
    }

    .end {
        display: flex;
        border: 2px solid #b6b3b3;
        border-radius: 13px;
        margin-top: 14px;
        margin-left: -25px;
        align-items: end;
        padding: 8px 39px;
        height: 46px;
        width: 176px;

    }

    .end p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin: 2px -30px;

    }

    .end:hover {
        background-color: #f8f4f5;
        border: 2px solid black;
    }

    /* switch button */
    .end .switch {
        margin-left: 13px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0px;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        width: 60px;
        margin-left: 30px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #111111;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #19191a;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .photos {
        display: flex;
        margin-top: 10px;

    }

    .pic1 img {
        height: 320px;
        width: 335px;
        margin-left: 39px;
        border-radius: 12px;
        cursor: pointer;

    }

    .heart1 {
        position: absolute;
        top: 279px;
        left: 340px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart1:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic1 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;

    }

    .star1 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star1 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic2 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart2 {
        position: absolute;
        top: 279px;
        left: 700px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart2:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic2 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star2 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star2 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic3 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart3 {
        position: absolute;
        top: 279px;
        left: 1062px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart3:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic3 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star3 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star3 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic4 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart4 {
        position: absolute;
        top: 279px;
        left: 1420px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart4:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic4 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star4 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star4 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .photo {
        display: flex;
        margin-top: 85px;

    }

    .pic5 img {
        height: 320px;
        width: 335px;
        margin-left: 39px;
        border-radius: 12px;
        cursor: pointer;

    }

    .heart5 {
        position: absolute;
        top: 720px;
        left: 340px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart5:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic5 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;

    }

    .star5 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star5 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic6 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart6 {
        position: absolute;
        top: 720px;
        left: 700px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart6:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic6 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star6 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star6 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic7 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart7 {
        position: absolute;
        top: 720px;
        left: 1062px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart7:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic7 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star7 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star7 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic8 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart8 {
        position: absolute;
        top: 720px;
        left: 1420px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart8:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic8 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star8 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star8 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .photoo {
        display: flex;
        margin-top: 85px;

    }

    .pic9 img {
        height: 320px;
        width: 335px;
        margin-left: 39px;
        border-radius: 12px;
        cursor: pointer;

    }

    .heart9 {
        position: absolute;
        top: 1155px;
        left: 340px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart9:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic9 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;

    }

    .star9 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star10 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic10 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart10 {
        position: absolute;
        top: 1155px;
        left: 700px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart10:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic10 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star10 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star10 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic11 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart11 {
        position: absolute;
        top: 1155px;
        left: 1062px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart11:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic11 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star11 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star11 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pic12 img {
        height: 320px;
        width: 335px;
        margin-left: 28px;
        border-radius: 12px;
        cursor: pointer;
    }

    .heart12 {
        position: absolute;
        top: 1155px;
        left: 1420px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart12:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic12 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .star12 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star12 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .phot {
        display: flex;
        margin-top: 65px;

    }

    .pic13 img {
        height: 320px;
        width: 335px;
        margin-left: 39px;
        border-radius: 12px;
        cursor: pointer;

    }

    .heart13 {
        position: absolute;
        top: 1575px;
        left: 340px;
        filter: drop-shadow(3px 15px 12px black);
    }

    .heart13:hover {
        filter: drop-shadow(3px 3px 3px rgb(228, 213, 213));
        cursor: pointer;
    }

    .pic13 p {
        margin: 0px;
        margin-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;

    }

    .star13 {
        margin-left: 322px;
        margin-top: -68px;
        display: flex;
    }

    .star13 p {
        margin-top: -2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .root {
        height: 80px;
        /* width: 245px; */
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 85px;
        margin-left: 608px;
        font-size: 20px;
        font-weight: 500;

    }

    .root button {
        margin-left: 85px;
        border-radius: 11px;
        padding: 17px 30px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(26, 25, 25);
        color: #f8f4f5;
        font-size: 16px;
        cursor: pointer;
    }

    .root button:hover {
        background-color: #111111;
        color: white;
        cursor: pointer;
    }

    /* Footer at end */

    .color {
        background-color: #b6b3b3;
    }

    .hr1 {
        width: 1509px;
        margin-left: -654px;
        height: 18px;
        margin-top: 40px;
    }

    .foot {
        display: flex;
        margin-top: 95px;
        margin-left: 20px;
        height: 45px;
        /* font-weight: 600; */
    }

    .foot1 p {
        margin-left: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: #6A6A6A;
        cursor: pointer;
    }

    .foot2 p {
        margin-left: 300px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #6A6A6A;
        cursor: pointer;

    }

    .foot3 p {
        margin-left: 300px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: #6A6A6A;
        cursor: pointer;
    }

    .foot .S {
        color: #2c2c2c;
        /* font-weight: 600; */
    }

    .hr2 {
        margin-top: 305px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .exit {
        display: flex;
        height: 51px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .exit p {
        margin-left: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: #6A6A6A;
        cursor: pointer;
    }
}